<h1 mat-dialog-title>Edit user</h1>
<div mat-dialog-content *ngIf="userFormGroup" [formGroup]="userFormGroup">
  <p>Edit user details below</p>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="fname" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lname" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mobile</mat-label>
    <input matInput formControlName="mobile" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()">Save</button>
</div>
